<div class="container-fluid spotify-app">
  <div class="row">
    <section class="col-sm-1 side-nav clean-paddings">
      <nav class="navbar">
         <ul class="nav">
           <li class="brand-icon"><span class="fa fa-spotify"></span></li>

           <li class="active"><a (click)="getPlaylists()"><span class="fa fa-headphones"></span>Browse</a></li>
           <li><a [href]="url"><span class="fa fa-refresh"></span>Connect</a></li>
           <li><a (click)="credits()"><span class="fa fa-users"></span>Credits</a></li>
           <li><a href="https://github.com/xpakx/spotify-collage"><span class="fa fa-github"></span>Source</a></li>
        </ul>
      </nav>
    </section>

    <section class="col-sm-11 clean-paddings main-section">
      <div *ngIf="username">Logged as {{username}}</div>
      <router-outlet></router-outlet>
    </section>
  </div>
</div>