<div class="container-fluid spotify-app">
  <div class="row">
    <section class="col-xs-1 side-nav clean-paddings">
      <nav class="navbar">
         <ul class="nav">
           <li class="brand-icon"><span class="fa fa-spotify"></span></li>

           <li class="active"><a href="/playlists"><span class="fa fa-headphones"></span>Browse</a></li>
           <li><a [href]="url"><span class="fa fa-refresh"></span>Connect</a></li>
           <li><a href="#"><span class="fa fa-feed"></span>Radio</a></li>
           
           <li><a href="#"><span class="fa fa-users"></span>Follow</a></li>
        </ul>
      </nav>
    </section>
    <section class="col-xs-11 clean-paddings">
      <div *ngIf="username">Logged as {{username}}</div>
      <router-outlet></router-outlet>
    </section>
  </div>
</div>