Spotify

<router-outlet></router-outlet>



<div *ngIf="!collage">
  <form #collageForm="ngForm" (ngSubmit)="getAlbums(collageForm.value)">
    <div class="form-group">
      <label for="term">Term</label>
      <select class="form-control"  id="term" ngModel
              required name="term" placeholder="short_term">
          <option value="" selected disabled hidden>{{terms[0]}}</option>
          <option *ngFor="let term of terms" [value]="term">{{term}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="size">Size</label>
      <select class="form-control"  id="size" ngModel
              required name="size">
          <option value="" selected disabled hidden>{{sizes[0]}}</option>
          <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
      </select>
    </div>

    <button >Add</button>
  </form>
</div>



<a *ngIf="url" [href]="url">Connect</a>

<div *ngIf="collage">
  <div>Collage for user {{collage.username}}</div>
</div>
