<nav>
  <div class="top-nav container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/playlists">Playlists</a></li>
      <li><a href="/top">Top Tracks</a></li>
    </ul>
  </div>
</nav>

<table class="table table-songs container-fluid">
    <thead>
      <tr>
        <th></th>
        <th>Song</th>
        <th>Artist</th>
        <th class="sm-hide">Album</th>
        <th class="sm-hide"><span class="fa fa-calendar-o"></span></th>
        <th><span class="fa fa-clock-o"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr tabindex="1" *ngFor="let track of tracks">
        <td><span class="fa fa-check"></span></td>
        <td>{{track.track.name}}</td>
        <td>{{track.track.artists[0].name}}</td>
        <td class="sm-hide">{{track.track.album.name.substr(0,30)}}</td>
        <td class="secondary-info sm-hide">{{track.added_at.substr(0,10)}}</td>
        <td class="secondary-info">{{msToTime(track.track.duration_ms)}}</td>
      </tr>
    </tbody>
  </table>

<div class="fa-3x loading" *ngIf="!ready">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<div class="error" *ngIf=error>
    <i class="fa fa-exclamation-triangle"></i> Error
</div>

<button class="spotifyBtn" (click)="test()">
  <span class="fa loading" *ngIf="collageLoad">
    <i class="fa fa-spinner fa-spin"></i>
  </span>
  Generate Collage
</button>
<div *ngIf="imgSrc">
  <img class="collage" [src]="imgSrc" />
</div>