.loading {
    text-align: center;
}

.error {
    text-align: center;
    color: #b71c1c;
}

.collage {
    width: 500px;
    height: 500px;
}

@media (max-width: 767px) { 
    .collage    {
        width: 250px;
        height: 250px;
    }
}