<nav>
  <div class="top-nav container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/playlists">Playlists</a></li>
      <li><a href="/top">Top Tracks</a></li>
    </ul>
  </div>
</nav>

<table class="table table-songs">
    <thead>
      <tr>
        <th></th>
        <th>Playlist name</th>
        <th>Artist</th>
        <th>Album</th>
        <th><span class="fa fa-calendar-o"></span></th>
        <th><span class="fa fa-music"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr tabindex="1" *ngFor="let playlist of playlists">
        <td><span class="fa fa-check"></span></td>
        <td><a [href]="'/playlists/'+playlist.id">{{playlist.name.substr(0,50)}}</a></td>
        <td>blablabla</td>
        <td>blablabla</td>
        <td class="secondary-info">2016-07-23</td>
        <td class="secondary-info">{{playlist.tracks.total}}</td>
      </tr>
    </tbody>
  </table>

<div class="fa-3x loading" *ngIf="!ready">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<div class="error" *ngIf=error>
    <i class="fa fa-exclamation-triangle"></i> Error
</div>
